</main>

<script src="/scripts/script.js"></script>
<footer>
    <span> Contact us: </span> <img src="/images/email.png" alt="Contact Us"> 
    <a href="mailto:support@homekey.com">homekey05@gmail.com</a>
</footer>