<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>



<body id="body">

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/popup.ejs") %>

    <div class="grid-container">
       <div class="flex-col wrap" >
        <h1>Find Your Dream Place Now!</h1>
         <p class="h3"> Let our plateform be your gateway to extraordinary properties and talented designers </p>
       </div>
        <img src="/images/home.png" alt="home">
    </div>

    <hr style="color: black; border: 1px solid black; margin-top: -10px; margin-bottom: -33px;">

    <div class="faq-container">
        <h1 class="mb-4 h3" style="font-weight:bold;">Frequently Asked Questions:</h1>

        <ul class="faq-list">
            <li class="faq-item">
                <button class="faq-question">Q: How do I create an account on your platform?
                    <span class="faq-arrow">▶</span>
                </button>
                <p class="faq-answer ">A: To create an account, click on the "Sign Up" button on the top right corner of the page. Fill in the required information, including your email address and a secure password.</p>
            </li>

            <li class="faq-item">
                <button class="faq-question">Q: Can I add my property or showcase my interior design work on the platform?
                    <span class="faq-arrow">▶</span>
                </button>
                <div class="faq-answer">A: Absolutely! Once you are logged in, you can easily add your property or showcase your interior design work. Navigate to the appropriate section, fill in the necessary details, such as property information or design portfolio. Your listing or work will be visible to potential clients and interested users.</div>
            </li>

            <li class="faq-item">
                <button class="faq-question">Q: How can I contact property owners or interior designers?
                    <span class="faq-arrow">▶</span>
                </button>
                <div class="faq-answer">A: To ensure a secure and reliable platform, users can view the contact information, including phone numbers, of property owners or interior designers. This allows for direct communication using platforms like WhatsApp or Telegram.</div>
            </li>

            <li class="faq-item">
                <button class="faq-question">Q: Can I create wishlists for properties I'm interested in?
                    <span class="faq-arrow">▶</span>
                </button>
                <div class="faq-answer">A: Absolutely! Once you are logged in, you can create wishlists to save properties you are interested in. This allows you to keep track of your preferred options and easily access them later.</div>
            </li>

            <li class="faq-item">
                <button class="faq-question">Q: How secure is my personal information on your platform?
                    <span class="faq-arrow">▶</span>
                </button>
               
                <div class="faq-answer">A: We prioritize the security and privacy of our users. We employ encryption methods to protect user's password in our database. We adhere to strict data protection measures to ensure the confidentiality and integrity of your information.</div>
            </li>
        </ul>

        <p style ="margin-bottom: 14px;">If you have any further questions or need assistance, please don't hesitate to contact our support team. We're here to help you make the most of your experience on our platform.</p>
    </div>

        <%- include("partials/footer.ejs") %>
</body>
</html>