.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    justify-content: center;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.popup-content {
    text-align: center;
}

#editPopup {
    z-index: 1100;
}

@media (max-width: 768px) {
    #editPopup {
        top: 10%;
        width: 90%;
        margin: 0 auto;
    }

    .flex-row {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #editPopup {
        top: 5%;
    }
}
